APP_NAME=univ
DB_HOST=db
DB_NAME=demo-app
DB_USER=demo-app
DB_PASSWORD=securepassword
MYSQL_ROOT_PASSWORD=securepassword
TZ=Asia/Jakarta
SERVICE_SUPERVISOR_USER=application
LOG_STDOUT=/dev/stdout
LOG_STDERR=/dev/stderr
CLOUDFLARE_EMAIL=your-email@yourdomain.com
CLOUDFLARE_API_KEY=your_secret
