[server]

# this is only for the mariadbd daemon
[mariadbd]
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci

pid-file                = /run/mysqld/mysqld.pid
basedir                 = /usr
expire_logs_days        = 10

max_connections		= 100
connect_timeout		= 5
wait_timeout		= 60
max_allowed_packet	= 64M
thread_cache_size		 = 128
sort_buffer_size	= 4M
bulk_insert_buffer_size	= 16M
tmp_table_size		= 128M
max_heap_table_size	= 128M
myisam_recover_options = BACKUP
key_buffer_size		= 16M
open-files-limit	= 500000
table_open_cache	= 16000
myisam_sort_buffer_size	= 128M
concurrent_insert	= 2
read_buffer_size	= 2M
read_rnd_buffer_size	= 1M
query_cache_limit		= 128K
query_cache_size		= 0
query_cache_type		= 0
log_warnings		= 2
slow_query_log = 1
slow_query_log_file	= /var/log/mysql/mariadb-slow.log
long_query_time = 10
log_slow_verbosity	= query_plan
transaction_isolation = READ-COMMITTED
binlog_format = ROW
default_storage_engine	= InnoDB
innodb_log_file_size	= 76M
innodb_buffer_pool_size	= 614M
innodb_log_buffer_size	= 153M
innodb_open_files	= 500000
innodb_io_capacity	= 500000

[embedded]

[mariadbd]

[mariadb-11.8]
